<div class="mx-auto px-6 py-20 max-w-7xl">
  <!-- Componente app-banner-info-card -->
  <app-banner-info-card
    class="fade-in"
    [title]="'FISCALIZAÇÃO'"
    [description]="''">
  </app-banner-info-card>

  <!-- Informação Adicional -->
  <div class="mt-8">
    <!-- Título e Descrição com Margens e Alinhamento -->
    <div class="space-y-8">
      <!-- Fiscalização -->
      <div>
        <h3 class="text-xl font-bold mb-4">Fiscalização</h3>
        <p class="text-gray-600 leading-relaxed">
          O Comité de Auditoria é o órgão do Banco Nacional de Angola responsável pela supervisão dos mecanismos de auditoria interna e externa, dos processos de relatórios financeiros, dos sistemas de controlo interno, do controlo da legalidade e de consulta do Conselho de Administração nos domínios referidos.
          <br><br>
          O Comité de Auditoria do Banco Nacional de Angola tem as seguintes competências:
        </p>
        <ul class="list-disc list-inside text-gray-600 ml-6 mt-4">
          <li>Acompanhar o funcionamento do Fundo e zelar pelo cumprimento das normas, procedimentos e boas práticas de gestão que lhe sejam aplicáveis;</li>
          <li>Emitir parecer sobre qualquer matéria que lhe seja submetida pela Comissão Directiva;</li>
          <li>Emitir parecer sobre o relatório e contas do Fundo;</li>
          <li>Informar a Comissão Directiva de qualquer assunto que entenda dever ser especialmente ponderado;</li>
          <li>Solicitar a realização de reuniões com a Comissão Directiva, bem como solicitar a informação que considere necessária ao exercício das suas funções;</li>
        </ul>
      </div>
    </div>
  </div>
</div>
