/* banner-info-card.component.css */
.banner-info-card {
  background-size: cover;
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
}
