<div class="mx-auto px-6 py-20 max-w-7xl">
  <!-- Componente app-banner-info-card -->
  <app-banner-info-card
    class="fade-in"
    [title]="'
    Relatório & Contas'"
    [description]="''">
  </app-banner-info-card>

  <!-- Informação Adicional -->
  <div class="mt-8">
    <!-- Título e Descrição com Margens e Alinhamento -->
    <div class="space-y-8">
      <!-- Descrição -->
      <div>
        <h3 class="text-xl font-bold mb-4">Comissão Directiva</h3>
        <p class="text-gray-600 leading-relaxed">
          A comissão directiva apresenta ao Banco Nacional de Angola, após a validação prevista na alínea o) do artigo 5.º do Decreto Presidencial, o relatório e contas referido a 31 de Dezembro do ano anterior, incluindo o parecer do órgão de auditoria do Banco Nacional de Angola.
        </p>
      </div>
    </div>
  </div>
</div>
