.nav-link {
  position: relative;
  padding-bottom: 0.5rem;
  color: #245e7b;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #245e7b;
  transition: width 0.3s ease-in-out;
}

/* Apenas links ativos terão sublinhado */
.nav-link.active::after {
  width: 100%;
}

/* Remover qualquer sublinhado padrão de links */
a {
  text-decoration: none;
}
