
.nav-link {
  position: relative;
  padding-bottom: 0.5rem;
  color: #245e7b;
  text-decoration: none;
  font-weight: 500;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #245e7b;
  transition: width 0.3s ease-in-out;
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

a {
  text-decoration: none;
  color: #245e7b;
}
