<div class="mx-auto px-6 py-20">
  <!-- Componente app-banner-info-card -->
  <app-banner-info-card
    class="fade-in"
    [title]="'MISSÃO E FUNÇÕES'"
    [description]="''">
  </app-banner-info-card>

  <!-- Informação Adicional -->
  <div class="mt-8 max-w-7xl mx-auto">
    <div class="flex items-start">
      <!-- Texto -->
      <div class="w-1/2 mr-8 flex flex-col justify-between">
        <!-- Título -->
        <h3 class="text-xl font-bold mb-4">
        ENTIDADES PARTICIPANTES
        </h3>

        <!-- Descrição -->
        <p class="text-gray-600 leading-relaxed">
          De acordo com o Artigo 300º da Lei n.º 14/21, de 19 de Maio, Lei do regime geral das Instituições Financeiras e do Decreto Presidencial nº 111/22 de 13 de Maio, que aprova o regulamento do Fundo de resolução, participam obrigatoriamente no Fundo de Resolução todas as Instituições Financeiras Bancárias autorizadas, as filiais das IF com sede no estrangeiro, as Sociedades relevantes pera SFA, sujeitas a à supervisão prudencial do Banco Nacional de Angola.
        </p>
      </div>

      <!-- Imagem -->
      <div class="flex-shrink-0 w-1/2">
        <img src="/images/participant.png" alt="Descrição da Imagem" class="w-full h-auto max-h-[500px] object-cover">
      </div>
    </div>
  </div>
</div>
