<section class="relative bg-gray-50 h-[100px] flex flex-col items-center justify-center text-center overflow-hidden">
  <!-- Logo no topo
  <div class="absolute top-4 left-1/2 transform -translate-x-1/2 z-20 animate-fadeIn">
    <img src="/images/logo.png" alt="Logo" class="h-12 md:h-16 object-contain" />
  </div>-->

  <!-- Conteúdo Centralizado -->
  <div class="relative z-10 p-4 md:p-8 bg-gray-50 rounded-lg bg-opacity-80 transform transition-transform duration-500 hover:scale-105 w-full">
    <div class="relative overflow-hidden w-full h-8 md:h-24">
      <div class="absolute inset-0 flex items-center">
        <div class="flex animate-marquee whitespace-nowrap text-cyan-800 text-2xl md:text-4xl">
          FUNDO DE RESOLUÇÃO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; UNIDOS POR UM SISTEMA FINANCEIRO MAIS RESILIENTE &nbsp;&nbsp;&nbsp;FUNDO DE RESOLUÇÃO &nbsp;&nbsp;&nbsp;UNIDOS POR UM SISTEMA FINANCEIRO MAIS RESILIENTE&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
</section>
