<!-- Banner -->
<div class="bg-gray-50 mx-auto px-6 py-1 w-full">
  <!-- Componente app-banner-info-card -->
  <app-banner-info-card
    class="fade-in"
    [title]="'O FUNDO'"
    [description]="''">
  </app-banner-info-card>
</div>

<!-- Informação Adicional -->
<div class="mx-auto px-6 py-1 max-w-7xl">
  <div class="mt-8 flex flex-col md:flex-row items-start">
    <!-- Texto -->
    <div class="w-full md:w-1/2 mb-8 md:mb-0 fade-in">
      <h3 class="text-xl font-bold mb-4">O Fundo de Resolução (FR)</h3>
      <p class="text-gray-600 mb-4">
        O FR foi criado em 2022 com a missão de prestar apoio financeiro às medidas de resolução a serem adoptadas pelo Banco Nacional de Angola, consubstanciadas na:
      </p>
      <ol class="list-decimal list-inside mb-4 pl-5">
        <li>Alienação total ou parcial da actividade da instituição financeira bancária a outra instituição autorizada</li>
        <li>Transferência, parcial ou total, da actividade a um ou mais bancos de transição</li>
        <li>Segregação e transferência parcial ou total da actividade para entidades veículos de gestão de activos</li>
        <li>Recapitalização interna (bail-in)</li>
      </ol>
      <p class="text-gray-600">
        Lei n.º 14/21, de 19 de Maio: Lei do Regime Geral das Instituições Financeiras, criou o Fundo de Resolução.<br>
        Decreto Presidencial n.º 111/22 de 13 de Maio: Aprova o Regulamento do Fundo de Resolução, no âmbito do Regime Geral das Instituições Financeiras.
      </p>
    </div>

    <!-- Imagem -->
    <div class="w-full md:w-1/2 flex justify-end fade-in">
      <img src="/images/fund.png" alt="Descrição da Imagem" class="w-auto h-[300px] ml-4 transition-transform duration-500 transform hover:scale-105">
    </div>
  </div>
</div>
