<div class="mx-auto px-6 py-20">
  <!-- Componente app-banner-info-card -->
  <app-banner-info-card
    class="fade-in"
    [title]="'MISSÃO E FUNÇÕES'"
    [description]="''">
  </app-banner-info-card>

  <!-- Informação Adicional -->
  <div class="mt-8 max-w-4xl mx-auto">
    <div class="text-left">
      <!-- Título -->
      <h3 class="text-xl font-bold mb-4">Missão e Funções</h3>

      <!-- Descrição -->
      <p class="text-gray-600 mb-4">
        O Fundo de Resolução foi criado em 2021 com a missão de prestar apoio financeiro às medidas de resolução adoptadas pelo Banco Nacional de Angola, sejam estas, nomeadamente: (i) A alienação total ou parcial da actividade da instituição financeira bancária a outra instituição autorizada; (ii) A transferência, parcial ou total, da actividade a um ou mais bancos de transição; (iii) A segregação e transferência parcial ou total da actividade para entidades veículos de gestão de activos; (iv) A recapitalização interna (bail-in).
      </p>

      <!-- Imagem -->
      <img src="/images/missoes.png" alt="Descrição da Imagem" class="w-full h-auto">
    </div>
  </div>
</div>
