<section class="bg-gray-50 py-8 sm:py-12 relative overflow-hidden">
  <div class="main-section max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <!-- Título e Separador -->
    <div class="mb-4 relative">
      <div data-aos="fade-up" data-aos-duration="1000">
        <app-banner-info-card
          class="fade-in"
          [title]="selectedAnnouncement ? selectedAnnouncement.title : 'Comunicados'"
          [description]="''"
        >
        </app-banner-info-card>
      </div>
    </div>

    <!-- Exibição do Detalhe do Comunicado -->
    <div *ngIf="selectedAnnouncement; else listTemplate"
      data-aos="fade-in" data-aos-duration="1000">
      <app-announement-details
        [announcement]="selectedAnnouncement"
        [isLoading]="isLoading"
      ></app-announement-details>
      <button
        (click)="showList()"
        class="absolute left-6 bottom-6 text-cyan-800 p-3 rounded-full hover:bg-cyan-800 transition-transform transform hover:scale-105 duration-300"
      >
        <span class="material-icons">arrow_back</span>
        <span>voltar</span>
      </button>
    </div>

    <!-- Template da Lista de Comunicados -->
    <ng-template #listTemplate>
      <div class="flex flex-wrap -mx-4 justify-center" data-aos="fade-up" data-aos-duration="1000">
        <div class="w-full px-4">
          <div class="flex flex-wrap justify-center -mx-4">
            <ng-container *ngFor="let announcement of displayedAnnouncements">
              <a
                (click)="viewDetails(announcement)"
                class="bg-white rounded-lg shadow-lg hover:shadow-xl overflow-hidden transform hover:scale-105 transition-transform duration-300 ease-in-out mx-4 mb-12 flex-none w-full sm:w-1/2 md:w-1/3 lg:w-1/4 cursor-pointer"
                data-aos="fade-up" data-aos-duration="1000"
              >
                <div class="relative w-full h-56">
                  <img
                    class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300 hover:opacity-90"
                    [src]="announcement.imageUrl"
                    alt="Imagem do Comunicado"
                  />
                </div>
                <div class="p-6">
                  <h3 class="text-sm text-cyan-700 font-medium mb-2">
                    {{ announcement.subtitle }}
                  </h3>
                  <h2 class="text-lg text-gray-800 font-bold mb-3">
                    {{ announcement.title }}
                  </h2>
                  <p class="text-gray-600 text-sm mb-2">
                    {{ announcement.description | slice : 0 : 120 }}...
                  </p>
                  <p class="bg-stone-400 font-bold text-white text-xs px-2 py-1 rounded mb-4">
                    {{ announcement.date | date:'dd/MM/yyyy' }}
                  </p>
                  <span class="text-cyan-600 hover:text-cyan-800">Ver mais</span>
                </div>
              </a>
            </ng-container>
          </div>

          <!-- Botões Ver Mais e Ver Menos -->
          <div class="flex justify-center mt-2 mb-8 space-x-4">
            <button
              *ngIf="displayedAnnouncements.length < announcements.length"
              (click)="loadMore()"
              class="bg-cyan-700 text-white py-2 px-6 rounded-full hover:bg-cyan-900 transform hover:scale-105 transition-transform duration-300 ease-in-out shadow-md"
              [disabled]="isLoading"
            >
              <span *ngIf="!isLoading">Ver Mais ... </span>
              <span *ngIf="isLoading" class="flex items-center">
                <svg
                  class="animate-spin h-5 w-5 mr-2 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
                </svg>
                Carregando...
              </span>
            </button>

            <button
              *ngIf="currentPage > 1"
              (click)="showLess()"
              class="bg-gray-700 text-white py-2 px-6 rounded-full hover:bg-gray-900 transform hover:scale-105 transition-transform duration-300 ease-in-out shadow-md"
            >
              Ver Menos
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
