<div class="mx-auto px-6 py-20">
  <app-banner-info-card
    class="fade-in"
    [title]="'Proteção de Dados'"
    [description]="'Sua privacidade é nossa prioridade. Estamos comprometidos em proteger seus dados e garantir a segurança de suas informações pessoais. Todas as suas interações no nosso site são realizadas com total transparência e segurança.'">
  </app-banner-info-card>

  <div class="max-w-4xl mx-auto text-justify mt-12 leading-relaxed">
    <p class="slide-in">
      O artigo 5.º da Lei n.º 22/11, de 17 de Junho Lei da Protecção de Dados Pessoais, define dados pessoais como sendo qualquer informação, de qualquer natureza e independentemente do respectivo suporte, incluindo som e imagem relativa a uma pessoa singular identificada ou identificável. Exemplos nome, data de nascimento, morada, e-mail, dados relativos a saúde, a vida sexual, a vida privada, convicções políticas, filiação partidária ou sindical, dados biométricos, entre outros. Os dados pessoais podem ser tratados mediante o consentimento dos seus titulares.
    </p>
    <p class="slide-in">
      Importa referir que, a Lei da Protecção de Dados Pessoais aplica-se ao tratamento de dados pessoais por meios total ou parcialmente automatizados, bem como ao tratamento por meio não automatizados de dados pessoais contidos em ficheiros manuais ou a estes destinados. É aplicável ao tratamento de dados pessoais efectuado em todas as actividades de estabelecimento do responsável do tratamento que se encontra situado no território nacional; Fora de território nacional, em local onde legislação Angolana seja aplicável por força do direito internacional; Nas situações em que o responsável de tratamento embora não estando no território nacional, recorra para tratamento de dados pessoais, a meios, automatizados ou não, situados no território nacional, salvo se esses meios só forem utilizados para trânsito. A Lei também se aplica à video-vigilância e outras formas de captação, tratamentos e difusão de sons e imagens que permitam identificar pessoas.
    </p>
  </div>
</div>
